[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
transformers = "==4.27.4"
wandb = "*"
jupyterlab = "*"
datasets = "*"
scikit-learn = "*"
evaluate = "*"
nltk = "*"
pillow = "*"
ipywidgets = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn-extra = "*"
gradio = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.9"
